NODE_ENV=
NEXT_PUBLIC_EMAIL_JS_PUBLIC_KEY=
NEXT_PUBLIC_BASE_URL=
NEXT_PUBLIC_WS_URL=
NEXT_PUBLIC_EMAIL_SERVICE_ID=
NEXT_PUBLIC_EMAIL_TEMPLATE_ID=
NEXT_PUBLIC_FOLLOWUP_EMAIL_TEMPLATE_ID=
NEXT_PUBLIC_CLIENT_URL=
